.hideScrollbar {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  scrollbar-width: none;     /* For Firefox */
}

.hideScrollbar::-webkit-scrollbar {
  display: none;            /* For Chrome, Safari, and Opera */
}

.scrollable {
  overflow-y: auto;         /* Enable vertical scrolling */
}