@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #171717;
  }
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: auto;
  overflow-y: hidden; /* hides vertical scroll */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* thinner scrollbar */
  height: 6px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #3229ebff, #3b82f6); /* gradient thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3229ebff, #2563eb);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4f46e5 #f1f1f1;
}
